@model Bioterio.Models.Familia

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Confirmation</h2>

<h3 class="del">Tem a certeza que deseja apagar?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeFamilia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeFamilia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GrupoIdGrupoNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GrupoIdGrupoNavigation.IdGrupo)
        </dd>
    </dl>
    <hr />

    @{
        var especies = (List<Especie>)ViewData["especies"];
    }
    @if (especies.Count() != 0)
    {
        <p class="del">Ao apagar esta família estará também a apagar as espécies a ela pertencentes:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => especies.FirstOrDefault<Especie>().NomeCient)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => especies.FirstOrDefault<Especie>().NomeVulgar)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in especies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeCient)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeVulgar)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdFamilia" />
        <input type="submit" value="Eliminar" class="del btn btn-default" /> |
        <a asp-action="Index" class="btn btn-default">Cancelar</a>
    </form>
</div>
