@model Bioterio.Models.Familia

@{
    ViewData["Title"] = "Delete";
}
<h4 class="del">Não é possível apagar a família @Html.DisplayFor(model => model.NomeFamilia) pois as seguintes espécies a ela pertencentes encontram-se associadas a registros efectuados:</h4>
<div>

    @{
        var especies = (List<Especie>)ViewData["especies"];
    }
    @if (especies.Count() != 0)
    {
        <ul>
            @foreach (var item in especies)
            {
                <li>
                    @item.NomeCient (@item.NomeVulgar)
                    <ul>
                        @foreach (var register in item.RegNovosAnimais)
                        {
                        <li>
                            @Html.DisplayNameFor(model => register.NroExemplares): @Html.DisplayFor(model => register.NroExemplares) |
                            @Html.DisplayFor(model => register.FornecedorIdFornColectNavigation.Tipo): @Html.DisplayFor(model => register.FornecedorIdFornColectNavigation.Nome)
                        </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    }

    <a asp-action="Index">Back to List</a>
</div>