@model Bioterio.Models.Localcaptura

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Localcaptura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Localidade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Concelho)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Concelho.NomeConcelho)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Distrito.NomeDistrito)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.IdLocalCaptura">Editar</a> |
    <a type="button" class="btn btn-info" asp-action="Index">Voltar à listagem</a>
</div>
