@model IEnumerable<Bioterio.Models.Localcaptura>

@{
    ViewData["Title"] = "Index";
}

<h2>Locais de Captura</h2>

<p>
    <a type="button" class="btn btn-info" asp-action="Create">Criar Novo Local de Captura</a>
</p>
<div class="col-md-10">
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Localidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Concelho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Distrito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Localidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concelho.NomeConcelho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distrito.NomeDistrito)
            </td>
            <td class="text-right">
<a class="btn btn-default" asp-action="Edit" asp-route-id="@item.IdLocalCaptura">Editar</a> |
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.IdLocalCaptura">Detalhes</a> |
                <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.IdLocalCaptura">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<div class="col-md-2">
    <ul class="list-group">
        <li class="list-group-item active"><b>Localização:</b></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Concelhos" asp-action="Index">Concelhos</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Distritos" asp-action="Index">Distritos</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Localcapturas" asp-action="Index">Locais de Captura</a></li>
    </ul>
</div>