@model IEnumerable<Bioterio.Models.Distrito>

@{
    ViewData["Title"] = "Index";
}

<h2>Distritos</h2>

<p>
    <a type="button" class="btn btn-info" asp-action="Create">Criar Novo Distrito</a>
</p>

@if ((bool?)TempData["deleted"] == true)
{
    @await Html.PartialAsync("DeleteSuccess")
}

<div class="col-md-10">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeDistrito)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDistrito)
                </td>
                <td class="text-right">
<a class="btn btn-default" asp-action="Edit" asp-route-id="@item.IdDistrito">Editar</a> |
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.IdDistrito">Detalhes</a> |
                    <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.IdDistrito">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
<div class="col-md-2">
    <ul class="list-group">
        <li class="list-group-item active"><b>Localização:</b></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Concelhos" asp-action="Index">Concelhos</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Distritos" asp-action="Index">Distritos</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Localcapturas" asp-action="Index">Locais de Captura</a></li>
    </ul>
</div>