@model IEnumerable<Bioterio.Models.RegNovosAnimais>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a type="button" class="btn btn-info" asp-action="Create">Criar Novo Registo</a>
</p>
<div class="col-md-10">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EspecieIdEspecie)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NroExemplares)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TOrigemIdTOrigemNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FornecedorIdFornColectNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocalCapturaIdLocalCaptura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FuncionarioIdFuncionario1Navigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FuncionarioIdFuncionarioNavigation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoEstatutoGeneticoIdTipoEstatutoGeneticoNavigation)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EspecieIdEspecie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NroExemplares)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TOrigemIdTOrigemNavigation.IdTOrigem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FornecedorIdFornColectNavigation.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocalCapturaIdLocalCaptura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuncionarioIdFuncionario1Navigation.NomeCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuncionarioIdFuncionarioNavigation.NomeCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoEstatutoGeneticoIdTipoEstatutoGeneticoNavigation.IdTipoEstatutoGenetico)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdRegAnimal">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdRegAnimal">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdRegAnimal">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-md-2">
    <ul class="list-group">
        <li class="list-group-item active"><b>Lotes:</b></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Lotes" asp-action="Index">Lotes</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="RegNovosAnimais" asp-action="Index">Registos de novos animais</a></li>
    </ul>
</div>
