@model Bioterio.Models.Perfil

@{
    ViewData["Title"] = "Create";
}

<h2>Criar</h2>

<h4>Perfil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="NomePerfil" class="control-label"></label>
                <input asp-for="NomePerfil" class="form-control" />
                <span asp-validation-for="NomePerfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="checkbox" name="IsDefault" value="1"><span>Selecionar este perfil como o default para a criação de utilizadores.</span>}<br />
                <span asp-validation-for="IsDefault" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdPerfil" class="control-label">Permissões</label>
                <br />
                @{
            var roles = (List<string>)ViewData["checked"];
            foreach (Dictionary<string, string> dic in (List<Dictionary<string, string>>)ViewData["permissions"])
            {
                <div>
                    <input type="checkbox" class="@("select_all")" /> @dic.First().Value.Split(' ', 2)[1]<br />
                    @foreach (KeyValuePair<string, string> entry in dic)
            {
                var check = (roles != null && roles.Contains(entry.Key)) ? "checked" : "";
                <span class="level2checkbox"><input type="checkbox" class="@("select_one")" name="roles" value="@entry.Key" @check> @entry.Value<br /></span>
    }
                </div>
                <br />
    }
                }
                <span asp-validation-for="IdPerfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Criar" class="btn btn-default" /> |
                <a type="button" class="btn btn-info" asp-action="Index">Voltar à listagem</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(function () {
            $('.select_all').change(function () {
                $(this).parent().find('.select_one').prop('checked', $(this).prop('checked'));
            });
            debugger;
            $('.select_one').change(function () {
                if ($('.select_one:checked').length === 0) {
                    $(this).parent().parent().find('.select_all').
                        prop("indeterminate", false).
                        prop('checked', false);
                } else if ($(this).parent().parent().find('.select_one:not(:checked)').length === 0) {
                    $(this).parent().parent().find('.select_all').
                        prop("indeterminate", false).
                        prop('checked', true);
                } else {
                    $(this).parent().parent().find('.select_all').
                        prop("indeterminate", true);
                }
            });
        });
        $(window).on('load', function () {
                if ($('.select_one:checked').length === 0) {
                    $(this).parent().parent().find('.select_all').
                        prop("indeterminate", false).
                        prop('checked', false);
                } else if ($(this).parent().parent().find('.select_one:not(:checked)').length === 0) {
                    $(this).parent().parent().find('.select_all').
                        prop("indeterminate", false).
                        prop('checked', true);
                } else {
                    $(this).parent().parent().find('.select_all').
                        prop("indeterminate", true);
                }
        });
    </script>
}
