@model IEnumerable<Bioterio.Models.Perfil>

@{
    ViewData["Title"] = "Index";
}

<h2>Perfis</h2>

<p>
    <a type="button" class="btn btn-info" asp-action="Create">Criar Novo Perfil</a>
</p>
<div class="col-md-10">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomePerfil)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomePerfil) @if(item.IsDefault == 1) { <span class="default-profile">perfil default</span> }
                </td>
                <td class="text-right">
                    @if (item.IdPerfil != 1) { <a class="btn btn-default" asp-action="Edit" asp-route-id="@item.IdPerfil">Editar</a> <span>|</span>}
                    <a class="btn btn-default" asp-action="Details" asp-route-id="@item.IdPerfil">Detalhes</a> @if (item.IdPerfil != 1) {<span>|</span>
                    <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.IdPerfil">Eliminar</a>}
                </td>
            </tr>
        }
    </tbody>
</table>
    </div>
<div class="col-md-2">
    <ul class="list-group">
        <li class="list-group-item active"><b>Utilizadores:</b></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Funcionarios" asp-action="Index">Funcionários</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Perfis" asp-action="Index">Perfis</a></li>
    </ul>
</div>