@model IEnumerable<Bioterio.Models.Fornecedorcolector>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a type="button" class="btn btn-info" asp-action="Create">Criar Novo Fornecedor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroLicenca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Morada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroLicenca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Morada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td class="text-right">
<a class="btn btn-default" asp-action="Edit" asp-route-id="@item.IdFornColect">Editar</a> |
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.IdFornColect">Detalhes</a> |
                <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.IdFornColect">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
