@model IEnumerable<Bioterio.Models.TOrigem>

@{
    ViewData["Title"] = "Index";
}

<h2>Tipo de Origem</h2>

<p>
    <a type="button" class="btn btn-info" asp-action="Create">Criar Novo Tipo de Origem</a>
</p>
<div class="col-md-10">
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.descricao)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td class="text-right">
<a class="btn btn-default" asp-action="Edit" asp-route-id="@item.IdTOrigem">Editar</a> |
                <a class="btn btn-default" asp-action="Details" asp-route-id="@item.IdTOrigem">Detalhes</a> |
                <a class="btn btn-default" asp-action="Delete" asp-route-id="@item.IdTOrigem">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
<div class="col-md-2">
    <ul class="list-group">
        <li class="list-group-item active"><b>Outras Configurações:</b></li>
        <li class="list-group-item"><a asp-area="" asp-controller="TOrigems" asp-action="Index">Tipo de Origem</a></li>
        <li class="list-group-item"><a asp-area="" asp-controller="Tipoestatutogeneticos" asp-action="Index">Tipo de Estatutos Genéticos</a></li>
    </ul>
</div>