@model Bioterio.Models.Especie

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3 class="del">Tem a certeza que deseja apagar?</h3>
<div>
    <h4>Especie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeCient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeCient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeVulgar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeVulgar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FamiliaIdFamiliaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FamiliaIdFamiliaNavigation.NomeFamilia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdEspecie" />
        <input type="hidden" asp-for="FamiliaIdFamilia" />
        <input type="hidden" asp-for="GrupoIdGrupo" />
        <input type="submit" value="Eliminar" class="del btn btn-default" /> |
        <a asp-action="Index" class="btn btn-default">Voltar à listagem</a>
    </form>
</div>
