@model IEnumerable<Bioterio.Models.Especie>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if ((bool?)TempData["deleted"] == true)
{
    @await Html.PartialAsync("DeleteSuccess")
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeVulgar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Familia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Familia.GrupoIdGrupoNavigation.NomeGrupo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeCient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeVulgar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Familia.NomeFamilia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Familia.GrupoIdGrupoNavigation.NomeGrupo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEspecie">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEspecie">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEspecie">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
