<hr />
<h3 class="del">The @TempData["deleted_entity"] @TempData["deleted_name"] was successfully deleted.</h3>
@if ((bool?)TempData["more"] == false)
{
    string name = (string)TempData["name"];
    <p>The @TempData["empty"] @name is now empty.</p>
    <p class="del">Do you want to delete @name?</p>
    <form asp-action="Delete" asp-controller="@TempData["controller"]" asp-route-id="@TempData["id"]">
        <input type="submit" value="Delete" class="del btn btn-default" /> |
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </form>
}
<hr />
